#recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.spec .origin {
  color: #555;
}

.spec .secondary {
  font-size: 0.75rem;
  line-height: 1.4;
}
