.keyword-search-input {
  width: 100%;
  background-color: white;
}

@media screen and (min-width: 30rem) {
  .keyword-search-input {
    width: 20rem;
  }
}

.keyword-search .chip-list {
  margin-top: 0.5rem;
  /* min-height: 3rem; */
}
