body {
  --max-content-width: 70rem;
  --content-padding: 1rem;
}

header,
main {
  margin-bottom: 1.5rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: #202020;
}

main {
  margin: 1.5rem auto;
}

#header-contents .nav-link {
  color: white;
}

#header-contents .nav-link:hover {
  background: #333;
}

#header-contents,
main {
  max-width: var(--max-content-width);
  padding: 0 var(--content-padding);
}

#header-contents {
  display: flex;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

#header-contents h1 {
  font-size: 1.75rem;
}

#header-contents .text-title {
  display: none;
}

@media screen and (min-width: 35rem) {
  #header-contents .text-title {
    display: inline;
  }
  #header-contents .icon-title {
    display: none;
  }
}
