.ingredient-search {
  max-width: 100%;
  width: 240px;
  background-color: white;
}

.chip-list {
  min-height: 40px;
  margin: 20px -4px;
}

.chip-list .chip {
  /* background-color: white; */
  margin: 4px;
}
