.ingredient-search {
  max-width: 100%;
  width: 240px;
  background-color: white;
}

#chip-list {
  min-height: 40px;
  margin: 20px 0;
}

#chip-list .chip {
  background-color: white;
}

button.filter {
  margin-right: 20px;
}
